.informacin-de {
    position: relative;
    width: 393px;
    height: 852px;
    background-color: #101012;
}

.informacin-de .overlap {
    width: 105px;
    height: 102px;
    top: 181px;
    left: 73px;
    border-radius: 52.5px / 51px;
    border-color: #d4b46a;
    box-shadow: 0px 0px 4px #d4b46a;
    position: absolute;
    border: 1px solid;
}

.informacin-de .vector {
    position: absolute;
    width: 34px;
    height: 33px;
    top: 34px;
    left: 35px;
}

.informacin-de .overlap-group {
    width: 105px;
    height: 102px;
    top: 181px;
    left: 215px;
    border-radius: 52.5px / 51px;
    border-color: #d4b46a;
    box-shadow: 0px 0px 4px #d4b46a;
    position: absolute;
    border: 1px solid;
}

.informacin-de .vector-wrapper {
    width: 105px;
    height: 102px;
    top: 320px;
    left: 75px;
    border-radius: 52.5px / 51px;
    border-color: #d4b46a;
    box-shadow: 0px 0px 4px #d4b46a;
    position: absolute;
    border: 1px solid;
}

.informacin-de .img {
    position: absolute;
    width: 34px;
    height: 33px;
    top: 34px;
    left: 33px;
}

.informacin-de .img-wrapper {
    width: 105px;
    height: 102px;
    top: 323px;
    left: 215px;
    border-radius: 52.5px / 51px;
    border-color: #d4b46a;
    box-shadow: 0px 0px 4px #d4b46a;
    position: absolute;
    border: 1px solid;
}

.informacin-de .div {
    width: 335px;
    height: 200px;
    top: 502px;
    left: 29px;
    border-radius: 20px;
    border-color: #0fbfb0;
    box-shadow: 0px 2px 4px #0fbfb0;
    position: absolute;
    border: 1px solid;
}

.informacin-de .lunes-viernes-a {
    position: absolute;
    top: 30px;
    left: 30px;
    font-family: "Poppins-SemiBoldItalic", Helvetica;
    font-weight: 600;
    font-style: italic;
    color: #0fbfb0;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.informacin-de .text-wrapper {
    position: absolute;
    top: 51px;
    left: 156px;
    font-family: "Poppins-SemiBoldItalic", Helvetica;
    font-weight: 600;
    font-style: italic;
    color: #0fbfb0;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.informacin-de .sabados-am-a {
    position: absolute;
    top: 97px;
    left: 30px;
    font-family: "Poppins-SemiBoldItalic", Helvetica;
    font-weight: 600;
    font-style: italic;
    color: #0fbfb0;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.informacin-de .festivos-am-a {
    position: absolute;
    top: 144px;
    left: 30px;
    font-family: "Poppins-SemiBoldItalic", Helvetica;
    font-weight: 600;
    font-style: italic;
    color: #0fbfb0;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.informacin-de .text-wrapper-2 {
    position: absolute;
    top: 471px;
    left: 45px;
    font-family: "Poppins-SemiBoldItalic", Helvetica;
    font-weight: 600;
    font-style: italic;
    color: #101012;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
}

.informacin-de .text-wrapper-3 {
    position: absolute;
    top: 120px;
    left: 42px;
    font-family: "Poppins-SemiBoldItalic", Helvetica;
    font-weight: 600;
    font-style: italic;
    color: #e0e3e6;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.informacin-de .overlap-2 {
    width: 52px;
    height: 49px;
    top: 731px;
    left: 94px;
    border-radius: 26px / 24.5px;
    border-color: #0fbfb0;
    box-shadow: 0px 0px 4px #0fbfb0;
    position: absolute;
    border: 1px solid;
}

.informacin-de .vector-2 {
    position: absolute;
    width: 25px;
    height: 24px;
    top: 11px;
    left: 12px;
}

.informacin-de .overlap-group-2 {
    width: 52px;
    height: 49px;
    top: 731px;
    left: 252px;
    border-radius: 26px / 24.5px;
    border-color: #0fbfb0;
    box-shadow: 0px 0px 4px #00000040;
    position: absolute;
    border: 1px solid;
}

.informacin-de .text-wrapper-4 {
    position: absolute;
    top: 782px;
    left: 54px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #0fbfb0;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.informacin-de .text-wrapper-5 {
    position: absolute;
    top: 782px;
    left: 231px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #0fbfb0;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.informacin-de .recurso {
    position: absolute;
    width: 38px;
    height: 37px;
    top: 33px;
    left: 73px;
    object-fit: cover;
}

.informacin-de .vector-3 {
    position: absolute;
    width: 31px;
    height: 28px;
    top: 38px;
    left: 26px;
}
