body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #101012;
  color: #e0e3e6;
}

.notificaciones {
  width: 393px;
  height: 852px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #101012;
  padding: 0 20px;
}

.encabezado {
  display: flex;
  align-items: center;
  padding: 30px 0 10px;
}

.icono-menu {
  width: 33px;
  margin-right: 10px;
}

.logo {
  width: 38px;
  height: 37px;
  object-fit: contain;
}

.titulo {
  font-size: 25px;
  font-style: italic;
  font-weight: 500;
  text-align: center;
  margin-top: 50px;
}

.descripcion {
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
  text-align: center;
  margin-top: 15px;
}

.campana {
  display: block;
  width: 73px;
  height: 81px;
  margin: 40px auto;
}

.switch-container {
  width: 286px;
  border: 1px solid #d4b46a;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #d4b46a;
  font-style: italic;
}

.switch {
  width: 65px;
  height: 31px;
  background-color: #d4b46a;
  border: 1px solid #d4b46a;
  border-radius: 15px;
  position: relative;
}

.switch .toggle {
  width: 31px;
  height: 31px;
  background-color: #1e1e1e;
  border-radius: 50%;
  position: absolute;
  right: 2px;
  top: -1px;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px 0;
  flex-wrap: wrap;
}

.item-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icono-circular {
  width: 52px;
  height: 49px;
  border: 1px solid #0fbfb0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.icono-circular img {
  width: 25px;
  height: 24px;
}

.texto-footer {
  font-size: 10px;
  font-style: italic;
  color: #0fbfb0;
}
