.gestin-de-datos-con {
    width: 393px;
    height: 1028px;
    background-color: #101012;
}

.gestin-de-datos-con .overlap {
    position: relative;
    width: 356px;
    height: 1028px;
}

.gestin-de-datos-con .rectangle {
    position: absolute;
    width: 319px;
    height: 78px;
    top: 281px;
    left: 37px;
    border-radius: 20px;
    border: 1px solid;
    border-color: #0fbfb0;
    box-shadow: 0px 0px 4px #0fbfb0;
}

.gestin-de-datos-con .div {
    position: absolute;
    width: 291px;
    height: 123px;
    top: 365px;
    left: 65px;
    border-radius: 20px;
    border: 1px solid;
    border-color: #0fbfb0;
    box-shadow: 0px 0px 4px #0fbfb0;
}

.gestin-de-datos-con .rectangle-2 {
    position: absolute;
    width: 291px;
    height: 123px;
    top: 717px;
    left: 65px;
    border-radius: 20px;
    border: 1px solid;
    border-color: #0fbfb0;
    box-shadow: 0px 0px 4px #0fbfb0;
}

.gestin-de-datos-con .polygon {
    top: 313px;
    position: absolute;
    width: 17px;
    height: 20px;
    left: 317px;
}

.gestin-de-datos-con .ellipse {
    width: 80px;
    height: 78px;
    top: 139px;
    left: 52px;
    border-radius: 40px/39px;
    position: absolute;
    background-color: #ffffff;
}

.gestin-de-datos-con .ellipse-2 {
    width: 54px;
    height: 53px;
    top: 293px;
    left: 65px;
    border-radius: 27px/26.5px;
    position: absolute;
    background-color: #ffffff;
}

.gestin-de-datos-con .rectangle-3 {
    position: absolute;
    width: 280px;
    height: 43px;
    top: 501px;
    left: 57px;
    border-radius: 20px;
    border: 1px solid;
    border-color: #d4b46a;
    box-shadow: 0px 0px 4px #d4b46a;
}

.gestin-de-datos-con .gesti-n-de-datos {
    position: absolute;
    top: 141px;
    left: 142px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #e0e3e6;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.gestin-de-datos-con .text-wrapper {
    position: absolute;
    top: 307px;
    left: 129px;
    font-family: "Poppins-SemiBoldItalic", Helvetica;
    font-weight: 600;
    font-style: italic;
    color: #0fbfb0;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
}

.gestin-de-datos-con .text-wrapper-2 {
    top: 510px;
    left: 139px;
    position: absolute;
    font-family: "Poppins-SemiBoldItalic", Helvetica;
    font-weight: 600;
    font-style: italic;
    color: #d4b46a;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
}

.gestin-de-datos-con .text-wrapper-3 {
    position: absolute;
    top: 377px;
    left: 86px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #0fbfb0;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
}

.gestin-de-datos-con .text-wrapper-4 {
    position: absolute;
    top: 414px;
    left: 86px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #0fbfb0;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
}

.gestin-de-datos-con .text-wrapper-5 {
    position: absolute;
    top: 451px;
    left: 86px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #0fbfb0;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
}

.gestin-de-datos-con .text-wrapper-6 {
    position: absolute;
    top: 729px;
    left: 86px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #0fbfb0;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
}

.gestin-de-datos-con .text-wrapper-7 {
    position: absolute;
    top: 766px;
    left: 86px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #0fbfb0;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
}

.gestin-de-datos-con .text-wrapper-8 {
    position: absolute;
    top: 803px;
    left: 86px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #0fbfb0;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
}

.gestin-de-datos-con .rectangle-4 {
    position: absolute;
    width: 319px;
    height: 78px;
    top: 633px;
    left: 37px;
    border-radius: 20px;
    border: 1px solid;
    border-color: #0fbfb0;
    box-shadow: 0px 0px 4px #0fbfb0;
}

.gestin-de-datos-con .img {
    top: 665px;
    position: absolute;
    width: 17px;
    height: 20px;
    left: 317px;
}

.gestin-de-datos-con .ellipse-3 {
    width: 54px;
    height: 53px;
    top: 645px;
    left: 65px;
    border-radius: 27px/26.5px;
    position: absolute;
    background-color: #ffffff;
}

.gestin-de-datos-con .rectangle-5 {
    position: absolute;
    width: 280px;
    height: 43px;
    top: 853px;
    left: 65px;
    border-radius: 20px;
    border: 1px solid;
    border-color: #d4b46a;
    box-shadow: 0px 0px 4px #d4b46a;
}

.gestin-de-datos-con .text-wrapper-9 {
    position: absolute;
    top: 659px;
    left: 129px;
    font-family: "Poppins-SemiBoldItalic", Helvetica;
    font-weight: 600;
    font-style: italic;
    color: #0fbfb0;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
}

.gestin-de-datos-con .text-wrapper-10 {
    top: 862px;
    left: 142px;
    position: absolute;
    font-family: "Poppins-SemiBoldItalic", Helvetica;
    font-weight: 600;
    font-style: italic;
    color: #d4b46a;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
}

.gestin-de-datos-con .text-wrapper-11 {
    position: absolute;
    top: 971px;
    left: 50px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #101012;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.gestin-de-datos-con .recurso {
    width: 38px;
    height: 37px;
    top: 35px;
    left: 73px;
    position: absolute;
    object-fit: cover;
}

.gestin-de-datos-con .group {
    top: 42px;
    left: 24px;
    position: absolute;
    width: 33px;
    height: 22px;
}

.gestin-de-datos-con .overlap-group {
    position: relative;
    height: 22px;
}

.gestin-de-datos-con .group-2 {
    top: 0;
    left: 0;
    box-shadow: 0px 10px 4px #00000040;
    filter: blur(2px);
    position: absolute;
    width: 33px;
    height: 22px;
}

.gestin-de-datos-con .line {
    top: 20px;
    position: absolute;
    width: 33px;
    height: 2px;
    left: 0;
}

.gestin-de-datos-con .line-2 {
    top: 9px;
    position: absolute;
    width: 33px;
    height: 2px;
    left: 0;
}

.gestin-de-datos-con .line-3 {
    top: -2px;
    position: absolute;
    width: 33px;
    height: 2px;
    left: 0;
}

.gestin-de-datos-con .group-3 {
    top: 0;
    left: 0;
    box-shadow: 0px 10px 4px #00000040;
    position: absolute;
    width: 33px;
    height: 22px;
}

.gestin-de-datos-con .rectangle-6 {
    position: absolute;
    width: 224px;
    height: 1028px;
    top: 0;
    left: 0;
    background-color: #101012e3;
}

.gestin-de-datos-con .recurso-2 {
    width: 93px;
    height: 90px;
    top: 93px;
    left: 66px;
    position: absolute;
    object-fit: cover;
}

.gestin-de-datos-con .rectangle-7 {
    position: absolute;
    width: 169px;
    height: 38px;
    top: 960px;
    left: 25px;
    background-color: #101012;
    border-radius: 19px;
    border: 1px solid;
    border-color: #0fbfb0;
    box-shadow: 0px 1px 4px #0fbfb0;
}

.gestin-de-datos-con .text-wrapper-12 {
    position: absolute;
    width: 47px;
    top: 339px;
    left: 19px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #0fbfb0;
    font-size: 19px;
    letter-spacing: 0;
    line-height: normal;
}

.gestin-de-datos-con .text-wrapper-13 {
    position: absolute;
    width: 105px;
    top: 967px;
    left: 57px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #0fbfb0;
    font-size: 13px;
    letter-spacing: 0;
    line-height: normal;
}

.gestin-de-datos-con .text-wrapper-14 {
    position: absolute;
    width: 146px;
    top: 424px;
    left: 19px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #0fbfb0;
    font-size: 19px;
    letter-spacing: 0;
    line-height: normal;
}

.gestin-de-datos-con .text-wrapper-15 {
    position: absolute;
    width: 90px;
    top: 513px;
    left: 19px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #0fbfb0;
    font-size: 19px;
    letter-spacing: 0;
    line-height: normal;
}

.gestin-de-datos-con .text-wrapper-16 {
    position: absolute;
    width: 137px;
    top: 601px;
    left: 19px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #0fbfb0;
    font-size: 19px;
    letter-spacing: 0;
    line-height: normal;
}
