.perfil-profesion {
    width: 393px;
    height: 852px;
    background-color: #ffffff;
    overflow: hidden;
}

.perfil-profesion .overlap-group {
    position: relative;
    width: 411px;
    height: 852px;
    left: -8px;
}

.perfil-profesion .rectangle {
    position: absolute;
    width: 393px;
    height: 852px;
    top: 0;
    left: 8px;
    background-color: #101012;
}

.perfil-profesion .recurso {
    width: 38px;
    height: 37px;
    top: 35px;
    left: 79px;
    position: absolute;
    object-fit: cover;
}

.perfil-profesion .div {
    position: absolute;
    width: 411px;
    height: 98px;
    top: 101px;
    left: 0;
    background-color: #101210;
    border: 1px solid;
    border-color: #0fbfb0;
    box-shadow: 0px 4px 4px #0fbfb0;
}

.perfil-profesion .text-wrapper {
    position: absolute;
    top: 293px;
    left: 100px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #e0e3e6;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.perfil-profesion .text-wrapper-2 {
    position: absolute;
    top: 383px;
    left: 184px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #e0e3e6;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
}

.perfil-profesion .element {
    position: absolute;
    top: 395px;
    left: 60px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #e0e3e6;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
}

.perfil-profesion .span {
    font-family: "Poppins-MediumItalic", Helvetica;
    font-style: italic;
}

.perfil-profesion .text-wrapper-3 {
    font-family: "Poppins-MediumItalic", Helvetica;
    font-style: italic;
    font-size: 24px;
}

.perfil-profesion .text-wrapper-4 {
    position: absolute;
    top: 323px;
    left: 167px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #e0e3e6;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.perfil-profesion .text-wrapper-5 {
    position: absolute;
    top: 431px;
    left: 188px;
    text-shadow: 0px 1px 4px #0fbfb0;
    font-family: "Poppins-LightItalic", Helvetica;
    font-weight: 300;
    font-style: italic;
    color: #0fbfb0;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.perfil-profesion .text-wrapper-6 {
    position: absolute;
    top: 443px;
    left: 79px;
    text-shadow: 0px 2px 4px #0fbfb0;
    font-family: "Poppins-LightItalic", Helvetica;
    font-weight: 300;
    font-style: italic;
    color: #0fbfb0;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.perfil-profesion .element-m {
    position: absolute;
    top: 395px;
    left: 275px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #e0e3e6;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
}

.perfil-profesion .text-wrapper-7 {
    position: absolute;
    top: 443px;
    left: 288px;
    text-shadow: 0px 0px 4px #0fbfb0;
    font-family: "Poppins-LightItalic", Helvetica;
    font-weight: 300;
    font-style: italic;
    color: #0fbfb0;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.perfil-profesion .text-wrapper-8 {
    position: absolute;
    top: 490px;
    left: 131px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #e0e3e6;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.perfil-profesion .line {
    width: 79px;
    height: 1px;
    top: 443px;
    left: 59px;
    position: absolute;
    object-fit: cover;
}

.perfil-profesion .img {
    width: 79px;
    height: 1px;
    top: 431px;
    left: 169px;
    position: absolute;
    object-fit: cover;
}

.perfil-profesion .line-2 {
    width: 79px;
    height: 1px;
    top: 443px;
    left: 273px;
    position: absolute;
    object-fit: cover;
}

.perfil-profesion .line-3 {
    width: 225px;
    height: 9px;
    top: 319px;
    left: 88px;
    position: absolute;
    object-fit: cover;
}

.perfil-profesion .line-4 {
    width: 225px;
    height: 9px;
    top: 343px;
    left: 88px;
    position: absolute;
    object-fit: cover;
}

.perfil-profesion .rectangle-2 {
    position: absolute;
    width: 210px;
    height: 45px;
    top: 747px;
    left: 100px;
    border-radius: 19px;
    border: 1px solid;
    border-color: #d4b46a;
    box-shadow: 0px 2px 4px #d4b46a;
}

.perfil-profesion .text-wrapper-9 {
    position: absolute;
    top: 758px;
    left: 184px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #d4b46a;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.perfil-profesion .group {
    position: absolute;
    width: 183px;
    height: 177px;
    top: 532px;
    left: 111px;
}

.perfil-profesion .div-wrapper {
    position: absolute;
    width: 92px;
    height: 72px;
    top: 588px;
    left: 159px;
}

.perfil-profesion .text-wrapper-10 {
    position: absolute;
    top: 0;
    left: 0;
    text-shadow: 1px 1px 2px #0fbfb0;
    font-family: "Poppins-LightItalic", Helvetica;
    font-weight: 300;
    font-style: italic;
    color: #ffffff;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
}

.perfil-profesion .ellipse {
    background-color: #101012;
    position: absolute;
    width: 171px;
    height: 165px;
    top: 110px;
    left: 123px;
    border-radius: 85.5px / 82.5px;
}

.perfil-profesion .ellipse-2 {
    border: 1px solid;
    border-color: #0fbfb0;
    box-shadow: inset 0px 4px 4px #0fbfb0, 0px 4px 4px #0fbfb0;
    position: absolute;
    width: 171px;
    height: 165px;
    top: 110px;
    left: 123px;
    border-radius: 85.5px / 82.5px;
}

.perfil-profesion .mask-group {
    position: absolute;
    width: 158px;
    height: 153px;
    top: 117px;
    left: 130px;
}

.perfil-profesion .vector {
    position: absolute;
    width: 31px;
    height: 28px;
    top: 40px;
    left: 34px;
}

.perfil-profesion .rectangle-3 {
    position: absolute;
    width: 224px;
    height: 852px;
    top: 0;
    left: 8px;
    background-color: #101012e3;
}

.perfil-profesion .recurso-2 {
    width: 85px;
    height: 82px;
    top: 73px;
    left: 78px;
    position: absolute;
    object-fit: cover;
}

.perfil-profesion .rectangle-4 {
    position: absolute;
    width: 169px;
    height: 31px;
    top: 796px;
    left: 33px;
    background-color: #101012;
    border-radius: 19px;
    border: 1px solid;
    border-color: #0fbfb0;
    box-shadow: 0px 1px 4px #0fbfb0;
}

.perfil-profesion .text-wrapper-11 {
    position: absolute;
    top: 281px;
    left: 27px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #0fbfb0;
    font-size: 19px;
    letter-spacing: 0;
    line-height: normal;
}

.perfil-profesion .text-wrapper-12 {
    position: absolute;
    top: 801px;
    left: 65px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #0fbfb0;
    font-size: 13px;
    letter-spacing: 0;
    line-height: normal;
}

.perfil-profesion .text-wrapper-13 {
    position: absolute;
    top: 351px;
    left: 27px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #0fbfb0;
    font-size: 19px;
    letter-spacing: 0;
    line-height: normal;
}

.perfil-profesion .text-wrapper-14 {
    position: absolute;
    top: 425px;
    left: 27px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #0fbfb0;
    font-size: 19px;
    letter-spacing: 0;
    line-height: normal;
}

.perfil-profesion .text-wrapper-15 {
    position: absolute;
    top: 498px;
    left: 27px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #0fbfb0;
    font-size: 19px;
    letter-spacing: 0;
    line-height: normal;
}
