.registar {
    width: 393px;
    height: 852px;
    background-color: #101012;
    overflow: hidden;
}

.registrar .overlap-group {
    position: relative;
    width: 393px;
    height: 885px;
    left: -3px;
}

.registrar .rectangle {
    position: absolute;
    width: 309px;
    height: 365px;
    top: 234px;
    left: 45px;
    background-color: #101012;
    border-radius: 19px;
    box-shadow: 0p 2px 6px #0fbfb0;
}

.registrar .ellipse {
    left: 123px;
    position: absolute;
    width: 59px;
    height: 57px;
    top: 739px;
    background-color: #0fbfb0;
    border-radius: 29.5px/28.5px;
    box-shadow: 0px 0px 4px #d4b46a;
}

.registrar .div {
    left: 217px;
    position: absolute;
    width: 59px;
    height: 57px;
    top: 739px;
    background-color: #101012;
    border-radius: 29.5px/28.5px;
    box-shadow: 0px 0px 4px #d4b46a;
}

.registrar .text-wrapper {
    position: absolute;
    top: 150px;
    left: 160px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-size: italic;
    color: #d4b46a;
    font-size: 19px;
    letter-spacing: 0;
    line-height: normal;
}

.registrar .rectangule-2 {
   position: absolute;
   width: 309px;
   height: 45px;
   top: 641px;
   left: 45px;
   background-color: #d4b46a;
   border-radius: 19px;
   box-shadow: 0px 0px 4px #d4b46a;
}

.registrar .text-wrapper-2 {
    position: absolute;
    top: 280px;
    left: 73px;
    font-family: "Poppins-SemibolItalic", Helvetica;
    font-weight: 600;
    font-size: italic;
    color: #0fbfb0;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
}

.registrar .line {
    top: 314px;
    position: absolute;
    width: 286px;
    height: 11px;
    left: 57px;
}

.registrar .text-wrapper-3 {
    position: absolute;
    top: 358px;
    left: 73px;
    font-family: "Poppins-SemibolItalic", Helvetica;
    font-weight: 600;
    font-style: italic;
    color: #E0E3E6;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
}

.registar .img {
    top: 392px;
    position: absolute;
    width: 286px;
    height: 11px;
    left: 57px;
}

.registrar .text-wrapper-4 {
    top: 436px;
    position: absolute;
    left: 73px;
    font-family: "Poppins-SemibolItalic", Helvetica;
    font-weight: 600;
    font-style: italic;
    color: #E0E3E6;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
}

.registrar .line-2 {
    top: 470px;
    position: absolute;
    width: 286px;
    height: 11px;
    left: 57px;
}

.registrar .text-wrapper-5 {
    top: 436px;
    position: absolute;
    left: 73px;
    font-family: "Poppins-SemibolItalic", Helvetica;
    font-weight: 600;
    font-style: italic;
    color: #E0E3E6;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
}

.registrar .line-3 {
    top: 548px;
    position: absolute;
    width: 286px;
    height: 11px;
    left: 57px;
}

.registrar .text-wrapper-6 {
    position: absolute;
    top: 651px;
    left: 165px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #d4b46a;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
}

.registrar .text-wrapper-6 {
    position: absolute;
    top: 651px;
    left: 165px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #d4b46a;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
}

.registrar .text-wrapper-7 {
    position: absolute;
    top: 688px;
    left: 139px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #E0E3E6;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
}

.registrar .recurso {
    position: absolute;
    width: 85px;
    height: 82px;
    top: 58px;
    left: 157px;
    object-fit: cover;
}

.registrar .vector {
    left: 234px;
    position: absolute;
    width: 25px;
    height: 24px;
    top: 755px;
}

.registrar .vector-2 {
    left: 234px;
    position: absolute;
    width: 25px;
    height: 24px;
    top: 755px;
}

.registrar .rectangle-3 {
    position: absolute;
    width: 393px;
    height: 852px;
    top: 0;
    left: 3px;
    background-color: 101012;
}

.registrar .rectangle-4 {
   position: absolute;
    width: 399px;
    height: 412px;
    top: 473px;
    left: 0;
    background-color: 101012;
    border-radius: 31px;
    border: 1px solid;
    border-color: #d4b46a;
    box-shadow: 0px 0px 10px #d4b46a;
}

.registrar .rectangle-5 {
   position: absolute;
    width: 210px;
    height: 45px;
    top: 727px;
    left: 94px;
    background-color: 101012;
    border-radius: 19px;
    box-shadow: 0px 0px 10px #0fbfb0;
}

.registrar .rectangle-6 {
   position: absolute;
    width: 399px;
    height: 412px;
    top: 473px;
    left: 0;
    border-radius: 31px;
    border: 1px solid;
    border-color: #d4b46a;
}

.registrar .rectangle-7 {
   position: absolute;
    width: 210px;
    height: 45px;
    top: 663px;
    left: 94px;
    background-color: #d4b46a;
    border-radius: 19px;
    box-shadow:0px 1px 4px #d4b46a;
    filter: blur(2px);
}

.registrar .rectangle-8 {
   position: absolute;
    width: 210px;
    height: 45px;
    top: 663px;
    left: 94px;
    background-color: #101012;
    border-radius: 19px;
    border: 1px solid;
    box-shadow:0px 1px 4px #d4b46a;
}

.registrar .text-wrapper-8 {
    position: absolute;
    top: 673px;
    left: 172px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #d4b46a;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
}

.registrar .text-wrapper-9 {
    position: absolute;
    top: 737px;
    left: 160px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #0fbfb0;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
}

.registrar .autorizacion-de {
    position: absolute;
    top: 520px;
    left: 61px;
    font-family: "Poppins-BoldItalic", Helvetica;
    font-weight: 700;
    font-style: italic;
    color: #E0E3E6;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.registrar .text-wrapper-10 {
    position: absolute;
    top: 598px;
    left: 115px;
    font-family: "Poppins-BoldItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #d4b46a;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    text-decoration: underline;
}