.plan-premium {
    position: relative;
    width: 393px;
    height: 1033px;
    background-color: #ffffff;
    overflow: hidden;
}

.plan-premium .overlap-group {
    position: absolute;
    width: 393px;
    height: 1033px;
    top: 0;
    left: 0;
    background-color: #101012;
}

.plan-premium .text-wrapper {
    position: absolute;
    top: 84px;
    left: 155px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #e0e3e6;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
}

.plan-premium .elije-uno-de {
    position: absolute;
    top: 123px;
    left: 65px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #e0e3e6;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.plan-premium .overlap {
    position: absolute;
    width: 52px;
    height: 49px;
    top: 904px;
    left: 89px;
    border-radius: 26px / 24.5px;
    border: 1px solid;
    border-color: #0fbfb0;
}

.plan-premium .vector {
    position: absolute;
    width: 25px;
    height: 24px;
    top: 12px;
    left: 12px;
}

.plan-premium .vector-wrapper {
    position: absolute;
    width: 52px;
    height: 49px;
    top: 904px;
    left: 251px;
    border-radius: 26px / 24.5px;
    border: 1px solid;
    border-color: #0fbfb0;
}

.plan-premium .div {
    position: absolute;
    top: 955px;
    left: 49px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #0fbfb0;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.plan-premium .text-wrapper-2 {
    position: absolute;
    top: 955px;
    left: 230px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #0fbfb0;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.plan-premium .overlap-2 {
    position: absolute;
    width: 271px;
    height: 709px;
    top: 183px;
    left: 61px;
    border-radius: 19px;
    border: 1px solid;
    border-color: #d4b46a;
}

.plan-premium .text-wrapper-3 {
    position: absolute;
    top: 16px;
    left: 82px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #d4b46a;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.plan-premium .element-mes {
    position: absolute;
    top: 39px;
    left: 87px;
    font-family: "Poppins-LightItalic", Helvetica;
    font-weight: 300;
    font-style: italic;
    color: #d4b46a;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.plan-premium .div-wrapper {
    position: absolute;
    width: 99px;
    height: 22px;
    top: 668px;
    left: 86px;
    border-radius: 7px;
    border: 1px solid;
    border-color: #d4b46a;
}

.plan-premium .text-wrapper-4 {
    position: absolute;
    top: 2px;
    left: 25px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #d4b46a;
    font-size: 9px;
    letter-spacing: 0;
    line-height: normal;
}

.plan-premium .servicios-DE-PAGO {
    position: absolute;
    width: 260px;
    top: 68px;
    left: 5px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 9px;
    letter-spacing: 0;
    line-height: normal;
}

.plan-premium .span {
    font-weight: 500;
    color: #d4b46a;
}

.plan-premium .text-wrapper-5 {
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    color: #ffffff;
}

.plan-premium .text-wrapper-6 {
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #d4b46a;
}

.plan-premium .recurso {
    width: 38px;
    height: 37px;
    top: 34px;
    left: 78px;
    position: absolute;
    object-fit: cover;
}

.plan-premium .img {
    position: absolute;
    width: 31px;
    height: 28px;
    top: 39px;
    left: 30px;
}

.plan-premium .recurso-2 {
    width: 85px;
    height: 82px;
    top: -4607px;
    left: -1757px;
    position: absolute;
    object-fit: cover;
}

.plan-premium .text-wrapper-7 {
    position: absolute;
    top: 241px;
    left: 497px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #0fbfb0;
    font-size: 19px;
    letter-spacing: 0;
    line-height: normal;
}

.plan-premium .text-wrapper-8 {
    position: absolute;
    top: 311px;
    left: 497px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #0fbfb0;
    font-size: 19px;
    letter-spacing: 0;
    line-height: normal;
}

.plan-premium .text-wrapper-9 {
    position: absolute;
    top: 385px;
    left: 497px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #0fbfb0;
    font-size: 19px;
    letter-spacing: 0;
    line-height: normal;
}

.plan-premium .text-wrapper-10 {
    position: absolute;
    top: 458px;
    left: 497px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #0fbfb0;
    font-size: 19px;
    letter-spacing: 0;
    line-height: normal;
}
