.dispositivos {
  width: 393px;
  height: 852px;
  background-color: #101012;
  overflow: hidden;
}

.dispositivos .overlap-group {
  position: relative;
  width: 361px;
  height: 852px;
  left: -1px;
}

.dispositivos .text-wrapper {
  position: absolute;
  top: 109px;
  left: 124px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  font-style: italic;
  color: #e0e3e6;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}

.dispositivos .rectangle {
  position: absolute;
  width: 317px;
  height: 168px;
  top: 232px;
  left: 44px;
  border-radius: 19px;
  border: 1px solid;
  border-color: #d4b46a;
  box-shadow: 0px 0px 4px #d4b46a;
}

.dispositivos .div {
  position: absolute;
  width: 317px;
  height: 168px;
  top: 417px;
  left: 44px;
  border-radius: 19px;
  border: 1px solid;
  border-color: #d4b46a;
  box-shadow: 0px 0px 4px #d4b46a;
}

.dispositivos .text-wrapper-2 {
  position: absolute;
  top: 284px;
  left: 180px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  font-style: italic;
  color: #d4b46a;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.dispositivos .text-wrapper-3 {
  position: absolute;
  top: 469px;
  left: 180px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  font-style: italic;
  color: #d4b46a;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.dispositivos .rectangle-2 {
  position: absolute;
  width: 89px;
  height: 115px;
  top: 258px;
  left: 76px;
  background-color: #ffffff;
  border-radius: 19px;
}

.dispositivos .rectangle-3 {
  position: absolute;
  width: 89px;
  height: 115px;
  top: 443px;
  left: 76px;
  background-color: #ffffff;
  border-radius: 19px;
}

.dispositivos .text-wrapper-4 {
  position: absolute;
  top: 258px;
  left: 180px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  font-style: italic;
  color: #d4b46a;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.dispositivos .text-wrapper-5 {
  position: absolute;
  top: 447px;
  left: 180px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  font-style: italic;
  color: #d4b46a;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.dispositivos .text-wrapper-6 {
  position: absolute;
  top: 490px;
  left: 180px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  font-style: italic;
  color: #d4b46a;
  font-size: 9px;
  letter-spacing: 0;
  line-height: normal;
}

.dispositivos .text-wrapper-7 {
  position: absolute;
  top: 308px;
  left: 180px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  font-style: italic;
  color: #d4b46a;
  font-size: 9px;
  letter-spacing: 0;
  line-height: normal;
}

.dispositivos .rectangle-4 {
  position: absolute;
  width: 134px;
  height: 23px;
  top: 621px;
  left: 139px;
  border-radius: 10px;
  border: 1px solid;
  border-color: #0fbfb0;
  box-shadow: 0px 0px 4px #0fbfb0;
}

.dispositivos .text-wrapper-8 {
  position: absolute;
  top: 625px;
  left: 159px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  font-style: italic;
  color: #0fbfb0;
  font-size: 9px;
  letter-spacing: 0;
  line-height: normal;
}

.dispositivos .recurso {
  width: 38px;
  height: 37px;
  top: 35px;
  left: 76px;
  position: absolute;
  object-fit: cover;
}

.dispositivos .group {
  position: absolute;
  width: 41px;
  height: 42px;
  top: 36px;
  left: 23px;
}

.dispositivos .rectangle-5 {
  position: absolute;
  width: 224px;
  height: 852px;
  top: 0;
  left: 0;
  background-color: #101012e3;
}

.dispositivos .img {
  width: 85px;
  height: 82px;
  top: 48px;
  left: 70px;
  position: absolute;
  object-fit: cover;
}

.dispositivos .rectangle-6 {
  position: absolute;
  width: 169px;
  height: 31px;
  top: 771px;
  left: 25px;
  background-color: #101012;
  border-radius: 19px;
  border: 1px solid;
  border-color: #0fbfb0;
  box-shadow: 0px 1px 4px #0fbfb0;
}

.dispositivos .text-wrapper-9 {
  position: absolute;
  top: 256px;
  left: 19px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  font-style: italic;
  color: #0fbfb0;
  font-size: 19px;
  letter-spacing: 0;
  line-height: normal;
}

.dispositivos .text-wrapper-10 {
  position: absolute;
  top: 776px;
  left: 57px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  font-style: italic;
  color: #0fbfb0;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.dispositivos .text-wrapper-11 {
  position: absolute;
  top: 326px;
  left: 19px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  font-style: italic;
  color: #0fbfb0;
  font-size: 19px;
  letter-spacing: 0;
  line-height: normal;
}

.dispositivos .text-wrapper-12 {
  position: absolute;
  top: 400px;
  left: 19px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  font-style: italic;
  color: #0fbfb0;
  font-size: 19px;
  letter-spacing: 0;
  line-height: normal;
}

.dispositivos .text-wrapper-13 {
  position: absolute;
  top: 473px;
  left: 19px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  font-style: italic;
  color: #0fbfb0;
  font-size: 19px;
  letter-spacing: 0;
  line-height: normal;
}
