.inicio {
  width: 393px;
  height: 852px;
  background-color: #101012;
}

.inicio .overlap-group {
  position: relative;
  height: 852px;
  background-color: #101012;
}

.inicio .text-wrapper {
  position: absolute;
  top: 425px;
  left: 38px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  font-style: italic;
  color: #e0e3e6;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.inicio .line {
  top: 475px;
  position: absolute;
  width: 318px;
  height: 2px;
  left: 38px;
  object-fit: cover;
}

.inicio .div {
  left: 38px;
  color: #e0e3e6;
  position: absolute;
  top: 511px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  font-style: italic;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.inicio .img {
  top: 561px;
  position: absolute;
  width: 318px;
  height: 2px;
  left: 38px;
  object-fit: cover;
}

.inicio .rectangle {
  position: absolute;
  width: 309px;
  height: 45px;
  top: 653px;
  left: 47px;
  background-color: #e0e3e6;
  border-radius: 19px;
}

.inicio .text-wrapper-2 {
  position: absolute;
  top: 144px;
  left: 121px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  font-style: italic;
  color: #d4b46a;
  font-size: 19px;
  letter-spacing: 0;
  line-height: normal;
}

.inicio .text-wrapper-3 {
  position: absolute;
  top: 663px;
  left: 170px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  font-style: italic;
  color: #101012;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.inicio .recurso {
  width: 81px;
  height: 79px;
  top: 53px;
  left: 156px;
  position: absolute;
  object-fit: cover;
}

.inicio .rectangle-2 {
  position: absolute;
  width: 393px;
  height: 852px;
  top: 0;
  left: 0;
  background-color: #101012;
}

.inicio .recurso-2 {
  width: 96px;
  height: 93px;
  top: 99px;
  left: 149px;
  position: absolute;
  object-fit: cover;
}

.inicio .text-wrapper-4 {
  position: absolute;
  top: 210px;
  left: 101px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  font-style: italic;
  color: #d4b46a;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.inicio .rectangle-3 {
  position: absolute;
  width: 309px;
  height: 45px;
  top: 653px;
  left: 47px;
  background-color: #d4b46a;
  border-radius: 19px;
  box-shadow: 0px 0px 4px #d4b46a;
  backdrop-filter: blur(2.5px) brightness(100%);
  -webkit-backdrop-filter: blur(2.5px) brightness(100%);
}

.inicio .rectangle-4 {
  position: absolute;
  width: 321px;
  height: 57px;
  top: 410px;
  left: 36px;
}

.inicio .rectangle-5 {
  position: absolute;
  width: 321px;
  height: 57px;
  top: 496px;
  left: 36px;
}

.inicio .text-wrapper-5 {
  left: 61px;
  color: #0fbfb0;
  position: absolute;
  top: 511px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  font-style: italic;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.inicio .text-wrapper-6 {
  position: absolute;
  top: 425px;
  left: 61px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  font-style: italic;
  color: #0fbfb0;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}