.plan-gratis-men {
    position: relative;
    width: 393px;
    height: 852px;
    background-color: #ffffff;
    overflow: hidden;
}

.plan-gratis-men .overlap-group {
    position: absolute;
    width: 393px;
    height: 852px;
    top: 0;
    left: 0;
    background-color: #101012;
}

.plan-gratis-men .overlap {
    position: absolute;
    width: 332px;
    height: 852px;
    top: 0;
    left: 0;
}

.plan-gratis-men .text-wrapper {
    position: absolute;
    top: 84px;
    left: 155px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #e0e3e6;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
}

.plan-gratis-men .elije-uno-de {
    position: absolute;
    top: 123px;
    left: 65px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #e0e3e6;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.plan-gratis-men .ellipse {
    position: absolute;
    width: 52px;
    height: 49px;
    top: 737px;
    left: 93px;
    border-radius: 26px / 24.5px;
    border: 1px solid;
    border-color: #0fbfb0;
}

.plan-gratis-men .div {
    position: absolute;
    top: 788px;
    left: 53px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #0fbfb0;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.plan-gratis-men .rectangle {
    position: absolute;
    width: 271px;
    height: 543px;
    top: 183px;
    left: 61px;
    border-radius: 19px;
    border: 1px solid;
    border-color: #0fbfb0;
}

.plan-gratis-men .text-wrapper-2 {
    position: absolute;
    top: 200px;
    left: 147px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #0fbfb0;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.plan-gratis-men .text-wrapper-3 {
    position: absolute;
    top: 223px;
    left: 179px;
    font-family: "Poppins-LightItalic", Helvetica;
    font-weight: 300;
    font-style: italic;
    color: #0fbfb0;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.plan-gratis-men .rectangle-2 {
    position: absolute;
    width: 99px;
    height: 22px;
    top: 687px;
    left: 147px;
    border-radius: 7px;
    border: 1px solid;
    border-color: #0fbfb0;
}

.plan-gratis-men .text-wrapper-4 {
    position: absolute;
    top: 690px;
    left: 173px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #0fbfb0;
    font-size: 9px;
    letter-spacing: 0;
    line-height: normal;
}

.plan-gratis-men .recurso {
    width: 38px;
    height: 37px;
    top: 34px;
    left: 78px;
    position: absolute;
    object-fit: cover;
}

.plan-gratis-men .vector {
    position: absolute;
    width: 31px;
    height: 28px;
    top: 39px;
    left: 30px;
}

.plan-gratis-men .img {
    top: 750px;
    left: 106px;
    position: absolute;
    width: 25px;
    height: 24px;
}

.plan-gratis-men .tu-coach-virtual {
    position: absolute;
    width: 258px;
    top: 246px;
    left: 68px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 9px;
    letter-spacing: 0;
    line-height: normal;
}

.plan-gratis-men .span {
    font-weight: 500;
    color: #0fbfb0;
}

.plan-gratis-men .text-wrapper-5 {
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    color: #ffffff;
}

.plan-gratis-men .text-wrapper-6 {
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #0fbfb0;
}

.plan-gratis-men .text-wrapper-7 {
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #ffffff;
}

.plan-gratis-men .rectangle-3 {
    position: absolute;
    width: 224px;
    height: 852px;
    top: 0;
    left: 0;
    background-color: #101012e3;
}

.plan-gratis-men .recurso-2 {
    width: 85px;
    height: 82px;
    top: 73px;
    left: 70px;
    position: absolute;
    object-fit: cover;
}

.plan-gratis-men .rectangle-4 {
    position: absolute;
    width: 169px;
    height: 31px;
    top: 796px;
    left: 25px;
    background-color: #101012;
    border-radius: 19px;
    border: 1px solid;
    border-color: #0fbfb0;
    box-shadow: 0px 1px 4px #0fbfb0;
}

.plan-gratis-men .text-wrapper-8 {
    position: absolute;
    top: 281px;
    left: 19px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #0fbfb0;
    font-size: 19px;
    letter-spacing: 0;
    line-height: normal;
}

.plan-gratis-men .text-wrapper-9 {
    position: absolute;
    top: 801px;
    left: 57px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #0fbfb0;
    font-size: 13px;
    letter-spacing: 0;
    line-height: normal;
}

.plan-gratis-men .text-wrapper-10 {
    position: absolute;
    top: 351px;
    left: 19px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #0fbfb0;
    font-size: 19px;
    letter-spacing: 0;
    line-height: normal;
}

.plan-gratis-men .text-wrapper-11 {
    position: absolute;
    top: 425px;
    left: 19px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #0fbfb0;
    font-size: 19px;
    letter-spacing: 0;
    line-height: normal;
}

.plan-gratis-men .text-wrapper-12 {
    position: absolute;
    top: 498px;
    left: 19px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #0fbfb0;
    font-size: 19px;
    letter-spacing: 0;
    line-height: normal;
}

.plan-gratis-men .vector-wrapper {
    position: absolute;
    width: 52px;
    height: 49px;
    top: 737px;
    left: 251px;
    border-radius: 26px / 24.5px;
    border: 1px solid;
    border-color: #0fbfb0;
}

.plan-gratis-men .vector-2 {
    top: 12px;
    left: 12px;
    position: absolute;
    width: 25px;
    height: 24px;
}

.plan-gratis-men .text-wrapper-13 {
    position: absolute;
    top: 788px;
    left: 230px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #0fbfb0;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.plan-gratis-men .recurso-3 {
    width: 85px;
    height: 82px;
    top: -5604px;
    left: -1300px;
    position: absolute;
    object-fit: cover;
}

.plan-gratis-men .text-wrapper-14 {
    position: absolute;
    top: 241px;
    left: 497px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #0fbfb0;
    font-size: 19px;
    letter-spacing: 0;
    line-height: normal;
}

.plan-gratis-men .text-wrapper-15 {
    position: absolute;
    top: 311px;
    left: 497px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #0fbfb0;
    font-size: 19px;
    letter-spacing: 0;
    line-height: normal;
}

.plan-gratis-men .text-wrapper-16 {
    position: absolute;
    top: 385px;
    left: 497px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #0fbfb0;
    font-size: 19px;
    letter-spacing: 0;
    line-height: normal;
}

.plan-gratis-men .text-wrapper-17 {
    position: absolute;
    top: 458px;
    left: 497px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #0fbfb0;
    font-size: 19px;
    letter-spacing: 0;
    line-height: normal;
}
