.sobre-nosotros {
    position: relative;
    width: 393px;
    height: 852px;
    background-color: #ffffff;
    overflow: hidden;
}

.sobre-nosotros .overlap-group {
    position: absolute;
    width: 411px;
    height: 856px;
    top: 0;
    left: -7px;
}

.sobre-nosotros .rectangle {
    position: absolute;
    width: 393px;
    height: 852px;
    top: 0;
    left: 7px;
    background-color: #101012;
}

.sobre-nosotros .text-wrapper {
    position: absolute;
    width: 111px;
    top: 296px;
    left: 148px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #e0e3e6;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.sobre-nosotros .div {
    position: absolute;
    width: 111px;
    top: 310px;
    left: 148px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #e0e3e6;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.sobre-nosotros .ellipse {
    position: absolute;
    width: 60px;
    height: 58px;
    top: 362px;
    left: 64px;
    border-radius: 30px / 29px;
    border: 1px solid;
    border-color: #d4b46a;
    box-shadow: 0px 0px 4px #d4b46a;
}

.sobre-nosotros .ellipse-2 {
    position: absolute;
    width: 60px;
    height: 58px;
    top: 362px;
    left: 137px;
    border-radius: 30px / 29px;
    border: 1px solid;
    border-color: #d4b46a;
    box-shadow: 0px 0px 4px #d4b46a;
}

.sobre-nosotros .ellipse-3 {
    position: absolute;
    width: 130px;
    height: 125px;
    top: 169px;
    left: 139px;
    background-color: #101012;
    border-radius: 65px / 62.5px;
    border: 1px solid;
    border-color: #0fbfb0;
    box-shadow: 0px 1px 2px #0fbfb0;
}

.sobre-nosotros .ellipse-4 {
    position: absolute;
    width: 60px;
    height: 58px;
    top: 362px;
    left: 210px;
    border-radius: 30px / 29px;
    border: 1px solid;
    border-color: #d4b46a;
    box-shadow: 0px 0px 4px #d4b46a;
}

.sobre-nosotros .ellipse-5 {
    position: absolute;
    width: 60px;
    height: 58px;
    top: 362px;
    left: 283px;
    border-radius: 30px / 29px;
    border: 1px solid;
    border-color: #d4b46a;
    box-shadow: 0px 0px 4px #d4b46a;
}

.sobre-nosotros .text-wrapper-2 {
    position: absolute;
    top: 494px;
    left: 100px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #101012;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.sobre-nosotros .rectangle-2 {
    position: absolute;
    width: 411px;
    height: 400px;
    top: 456px;
    left: 0;
    border: 1px solid;
    border-color: #0fbfb0;
    box-shadow: 0px 0px 4px #0fbfb0;
}

.sobre-nosotros .text-wrapper-3 {
    position: absolute;
    top: 97px;
    left: 67px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #e0e3e6;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
}

.sobre-nosotros .gotogym-es-una {
    position: absolute;
    width: 323px;
    top: 510px;
    left: 48px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #d4b46a;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
}

.sobre-nosotros .recurso {
    position: absolute;
    width: 38px;
    height: 37px;
    top: 34px;
    left: 85px;
    object-fit: cover;
}

.sobre-nosotros .vector {
    position: absolute;
    width: 25px;
    height: 24px;
    top: 378px;
    left: 154px;
}

.sobre-nosotros .img {
    position: absolute;
    width: 25px;
    height: 24px;
    top: 378px;
    left: 227px;
}

.sobre-nosotros .vector-2 {
    position: absolute;
    width: 25px;
    height: 24px;
    top: 378px;
    left: 300px;
}

.sobre-nosotros .vector-3 {
    position: absolute;
    width: 25px;
    height: 24px;
    top: 379px;
    left: 81px;
}

.sobre-nosotros .vector-4 {
    position: absolute;
    width: 31px;
    height: 28px;
    top: 34px;
    left: 36px;
}

.sobre-nosotros .blank-profile {
    position: absolute;
    width: 118px;
    height: 118px;
    top: 172px;
    left: 145px;
    object-fit: cover;
}

.sobre-nosotros .ellipse-6 {
    position: absolute;
    width: 116px;
    height: 112px;
    top: -1259px;
    left: -3175px;
}
