.contactanos-men {
    width: 393px;
    height: 852px;
    background-color: #101012;
    overflow: hidden;
}

.contactanos-men .overlap {
    position: relative;
    width: 351px;
    height: 852px;
    top: 2px;
}

.contactanos-men .overlap-group {
    position: absolute;
    width: 351px;
    height: 852px;
    top: 0;
    left: 0;
}

.contactanos-men .rectangle {
    position: absolute;
    width: 309px;
    height: 365px;
    top: 242px;
    left: 42px;
    background-color: #101012;
    border-radius: 19px;
    box-shadow: 0px 2px 6px #d4b46a;
}

.contactanos-men .text-wrapper {
    position: absolute;
    top: 124px;
    left: 114px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #e0e3e6;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
}

.contactanos-men .div {
    position: absolute;
    width: 289px;
    height: 40px;
    top: 279px;
    left: 52px;
    border-radius: 13px;
    border: 1px solid;
    border-color: #d4b46a;
    box-shadow: 0px 0px 4px #d4b46a;
}

.contactanos-men .rectangle-2 {
    position: absolute;
    width: 289px;
    height: 40px;
    top: 346px;
    left: 52px;
    border-radius: 13px;
    border: 1px solid;
    border-color: #d4b46a;
    box-shadow: 0px 0px 4px #d4b46a;
}

.contactanos-men .rectangle-3 {
    position: absolute;
    width: 289px;
    height: 93px;
    top: 412px;
    left: 52px;
    border-radius: 13px;
    border: 1px solid;
    border-color: #d4b46a;
    box-shadow: 0px 0px 4px #d4b46a;
}

.contactanos-men .contactate-con {
    position: absolute;
    top: 173px;
    left: 43px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #e0e3e6;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.contactanos-men .text-wrapper-2 {
    position: absolute;
    top: 290px;
    left: 59px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #ffffff;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.contactanos-men .text-wrapper-3 {
    position: absolute;
    top: 357px;
    left: 59px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #ffffff;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.contactanos-men .text-wrapper-4 {
    position: absolute;
    top: 425px;
    left: 59px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #ffffff;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.contactanos-men .text-wrapper-5 {
    position: absolute;
    top: 545px;
    left: 171px;
    font-family: "Poppins-BoldItalic", Helvetica;
    font-weight: 700;
    font-style: italic;
    color: #d4b46a;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.contactanos-men .ellipse {
    position: absolute;
    width: 52px;
    height: 49px;
    top: 699px;
    left: 92px;
    border-radius: 26px/24.5px;
    border: 1px solid;
    border-color: #0fbfb0;
    box-shadow: 0px 0px 4px #0fbfb0;
}

.contactanos-men .text-wrapper-6 {
    position: absolute;
    top: 750px;
    left: 52px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #0fbfb0;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.contactanos-men .recurso {
    width: 38px;
    height: 37px;
    top: 28px;
    left: 68px;
    position: absolute;
    object-fit: cover;
}

.contactanos-men .vector {
    position: absolute;
    width: 25px;
    height: 24px;
    top: 711px;
    left: 106px;
}

.contactanos-men .rectangle-4 {
    position: absolute;
    width: 210px;
    height: 45px;
    top: 535px;
    left: 92px;
    border-radius: 19px;
    border: 1px solid;
    border-color: #d4b46a;
    box-shadow: 0px 0px 4px #d4b46a;
}

.contactanos-men .group {
    top: 35px;
    left: 19px;
    position: absolute;
    width: 33px;
    height: 22px;
}

.contactanos-men .overlap-group-2 {
    position: relative;
    height: 22px;
}

.contactanos-men .group-2 {
    top: 0;
    left: 0;
    box-shadow: 0px 10px 4px #00000040;
    filter: blur(2px);
    position: absolute;
    width: 33px;
    height: 22px;
}

.contactanos-men .line {
    top: 20px;
    position: absolute;
    width: 33px;
    height: 2px;
    left: 0;
}

.contactanos-men .img {
    top: 9px;
    position: absolute;
    width: 33px;
    height: 2px;
    left: 0;
}

.contactanos-men .line-2 {
    top: -2px;
    position: absolute;
    width: 33px;
    height: 2px;
    left: 0;
}

.contactanos-men .group-3 {
    top: 0;
    left: 0;
    box-shadow: 0px 10px 4px #00000040;
    position: absolute;
    width: 33px;
    height: 22px;
}

.contactanos-men .rectangle-5 {
    position: absolute;
    width: 224px;
    height: 852px;
    top: 0;
    left: 0;
    background-color: #101012e3;
}

.contactanos-men .recurso-2 {
    width: 85px;
    height: 82px;
    top: 73px;
    left: 70px;
    position: absolute;
    object-fit: cover;
}

.contactanos-men .rectangle-6 {
    position: absolute;
    width: 169px;
    height: 31px;
    top: 796px;
    left: 25px;
    background-color: #101012;
    border-radius: 19px;
    border: 1px solid;
    border-color: #0fbfb0;
    box-shadow: 0px 1px 4px #0fbfb0;
}

.contactanos-men .text-wrapper-7 {
    position: absolute;
    top: 281px;
    left: 19px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #0fbfb0;
    font-size: 19px;
    letter-spacing: 0;
    line-height: normal;
}

.contactanos-men .text-wrapper-8 {
    position: absolute;
    top: 801px;
    left: 57px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #0fbfb0;
    font-size: 13px;
    letter-spacing: 0;
    line-height: normal;
}

.contactanos-men .text-wrapper-9 {
    position: absolute;
    top: 351px;
    left: 19px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #0fbfb0;
    font-size: 19px;
    letter-spacing: 0;
    line-height: normal;
}

.contactanos-men .text-wrapper-10 {
    position: absolute;
    top: 425px;
    left: 19px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #0fbfb0;
    font-size: 19px;
    letter-spacing: 0;
    line-height: normal;
}

.contactanos-men .text-wrapper-11 {
    position: absolute;
    top: 498px;
    left: 19px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #0fbfb0;
    font-size: 19px;
    letter-spacing: 0;
    line-height: normal;
}

.contactanos-men .vector-wrapper {
    position: absolute;
    width: 52px;
    height: 49px;
    top: 699px;
    left: 250px;
    border-radius: 26px/24.5px;
    border: 1px solid;
    border-color: #0fbfb0;
    box-shadow: 0px 0px 4px #0fbfb0;
}

.contactanos-men .vector-2 {
    position: absolute;
    width: 25px;
    height: 24px;
    top: 11px;
    left: 12px;
}

.contactanos-men .text-wrapper-12 {
    position: absolute;
    top: 750px;
    left: 229px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #0fbfb0;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}
