* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #101012;
  color: #E0E3E6;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 393px;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}

.menu-icon {
  width: 30px;
  height: auto;
}

.logo-icon {
  width: 38px;
  height: auto;
}

.content {
  text-align: center;
  margin-top: 20px;
}

.title {
  color: #E0E3E6;
  font-size: 25px;
  font-style: italic;
  font-weight: 500;
}

.subtitle {
  font-style: italic;
  font-size: 16px;
  margin-top: 10px;
  color: #E0E3E6;
}

.plan {
  border-radius: 20px;
  padding: 20px;
  margin: 20px auto;
  text-align: left;
  width: 90%;
}

.plan h2 {
  font-size: 18px;
  margin-bottom: 5px;
  font-style: italic;
}

.plan .price {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 10px;
}

.plan .agent {
  font-size: 11px;
  font-weight: 500;
  margin-bottom: 10px;
}

.plan ul {
  font-size: 11px;
  margin-left: 16px;
  color: #E0E3E6;
  margin-bottom: 15px;
}

.plan.free {
  border: 1px solid #0FBFB0;
  color: #0FBFB0;
}

.plan.premium {
  border: 1px solid #D4B46A;
  color: #D4B46A;
}

.plan.free ul li {
  color: #E0E3E6;
}

.plan.premium ul li {
  color: #E0E3E6;
}

.btn {
  width: 100%;
  padding: 6px 0;
  font-size: 12px;
  border-radius: 7px;
  cursor: pointer;
  background: transparent;
  font-style: italic;
}

.select-free {
  color: #0FBFB0;
  border: 1px solid #0FBFB0;
}

.select-premium {
  color: #D4B46A;
  border: 1px solid #D4B46A;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 15px;
}

.contact {
  text-align: center;
  color: #0FBFB0;
  font-size: 10px;
}

.contact-icon {
  border: 1px solid #0FBFB0;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
