.plan-gratis {
    position: relative;
    width: 393px;
    height: 852px;
    background-color: #ffffff;
    overflow: hidden;
}

.plan-gratis .overlap-group {
    position: absolute;
    width: 393px;
    height: 852px;
    top: 0;
    left: 0;
    background-color: #101012;
}

.plan-gratis .text-wrapper {
    position: absolute;
    top: 84px;
    left: 155px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #e0e3e6;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
}

.plan-gratis .elije-uno-de {
    position: absolute;
    top: 123px;
    left: 65px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #e0e3e6;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.plan-gratis .overlap {
    position: absolute;
    width: 52px;
    height: 49px;
    top: 737px;
    left: 93px;
    border-radius: 26px / 24.5px;
    border: 1px solid;
    border-color: #0fbfb0;
}

.plan-gratis .vector {
    position: absolute;
    width: 25px;
    height: 24px;
    top: 12px;
    left: 12px;
}

.plan-gratis .vector-wrapper {
    position: absolute;
    width: 52px;
    height: 49px;
    top: 737px;
    left: 251px;
    border-radius: 26px / 24.5px;
    border: 1px solid;
    border-color: #0fbfb0;
}

.plan-gratis .div {
    position: absolute;
    top: 788px;
    left: 53px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #0fbfb0;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.plan-gratis .text-wrapper-2 {
    position: absolute;
    top: 788px;
    left: 230px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #0fbfb0;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.plan-gratis .overlap-2 {
    position: absolute;
    width: 271px;
    height: 543px;
    top: 183px;
    left: 61px;
    border-radius: 19px;
    border: 1px solid;
    border-color: #0fbfb0;
}

.plan-gratis .text-wrapper-3 {
    position: absolute;
    top: 16px;
    left: 85px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #0fbfb0;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.plan-gratis .text-wrapper-4 {
    position: absolute;
    top: 39px;
    left: 117px;
    font-family: "Poppins-LightItalic", Helvetica;
    font-weight: 300;
    font-style: italic;
    color: #0fbfb0;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.plan-gratis .div-wrapper {
    position: absolute;
    width: 99px;
    height: 22px;
    top: 504px;
    left: 86px;
    border-radius: 7px;
    border: 1px solid;
    border-color: #0fbfb0;
}

.plan-gratis .text-wrapper-5 {
    position: absolute;
    top: 2px;
    left: 25px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #0fbfb0;
    font-size: 9px;
    letter-spacing: 0;
    line-height: normal;
}

.plan-gratis .tu-coach-virtual {
    position: absolute;
    width: 258px;
    top: 62px;
    left: 6px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 9px;
    letter-spacing: 0;
    line-height: normal;
}

.plan-gratis .span {
    font-weight: 500;
    color: #0fbfb0;
}

.plan-gratis .text-wrapper-6 {
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    color: #ffffff;
}

.plan-gratis .text-wrapper-7 {
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #0fbfb0;
}

.plan-gratis .text-wrapper-8 {
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #ffffff;
}

.plan-gratis .recurso {
    width: 38px;
    height: 37px;
    top: 34px;
    left: 78px;
    position: absolute;
    object-fit: cover;
}

.plan-gratis .img {
    position: absolute;
    width: 31px;
    height: 28px;
    top: 39px;
    left: 30px;
}

.plan-gratis .recurso-2 {
    width: 85px;
    height: 82px;
    top: -4607px;
    left: -1300px;
    position: absolute;
    object-fit: cover;
}

.plan-gratis .text-wrapper-9 {
    position: absolute;
    top: 241px;
    left: 497px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #0fbfb0;
    font-size: 19px;
    letter-spacing: 0;
    line-height: normal;
}

.plan-gratis .text-wrapper-10 {
    position: absolute;
    top: 311px;
    left: 497px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #0fbfb0;
    font-size: 19px;
    letter-spacing: 0;
    line-height: normal;
}

.plan-gratis .text-wrapper-11 {
    position: absolute;
    top: 385px;
    left: 497px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #0fbfb0;
    font-size: 19px;
    letter-spacing: 0;
    line-height: normal;
}

.plan-gratis .text-wrapper-12 {
    position: absolute;
    top: 458px;
    left: 497px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #0fbfb0;
    font-size: 19px;
    letter-spacing: 0;
    line-height: normal;
}