.configuracion {
    background-color: #101012;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.configuracion .div {
    background-color: #101012;
    width: 393px;
    height: 852px;
    position: relative;
}

.configuracion .text-wrapper {
    position: absolute;
    top: 126px;
    left: 107px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #e0e3e6;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
}

.configuracion .text-wrapper-2 {
    position: absolute;
    top: 769px;
    left: 54px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #e0e3e6;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.configuracion .text-wrapper-3 {
    position: absolute;
    top: 769px;
    left: 231px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #e0e3e6;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.configuracion .overlap {
    position: absolute;
    width: 286px;
    height: 47px;
    top: 205px;
    left: 54px;
    border-radius: 10px;
    border: 1px solid;
    border-color: #d4b46a;
    box-shadow: 0px 0px 4px #d4b46a;
}

.configuracion .text-wrapper-4 {
    position: absolute;
    top: 10px;
    left: 13px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #d4b46a;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.configuracion .polygon {
    position: absolute;
    width: 20px;
    height: 17px;
    top: 16px;
    left: 248px;
}

.configuracion .overlap-group {
    position: absolute;
    width: 286px;
    height: 47px;
    top: 426px;
    left: 54px;
    border-radius: 10px;
}

.configuracion .rectangle {
    position: absolute;
    width: 286px;
    height: 47px;
    top: 0;
    left: 0;
    border-radius: 10px;
    border: 1px solid;
    border-color: #d4b46a;
    box-shadow: 0px 0px 4px #d4b46a;
}

.configuracion .text-wrapper-5 {
    position: absolute;
    top: 11px;
    left: 14px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #d4b46a;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.configuracion .overlap-2 {
    position: absolute;
    width: 286px;
    height: 47px;
    top: 276px;
    left: 54px;
    border-radius: 10px;
}

.configuracion .overlap-3 {
    position: absolute;
    width: 286px;
    height: 47px;
    top: 352px;
    left: 54px;
    border-radius: 10px;
}

.configuracion .overlap-4 {
    position: absolute;
    width: 286px;
    height: 47px;
    top: 499px;
    left: 54px;
    border-radius: 10px;
}

.configuracion .div-wrapper {
    position: absolute;
    width: 142px;
    height: 47px;
    top: 659px;
    left: 54px;
    border-radius: 10px;
    border: 1px solid;
    border-color: #d4b46a;
    box-shadow: 0px 0px 4px #d4b46a;
}

.configuracion .text-wrapper-6 {
    position: absolute;
    top: 10px;
    left: 14px;
    font-family: "Poppins-BoldItalic", Helvetica;
    font-weight: 700;
    font-style: italic;
    color: #d4b46a;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.configuracion .overlap-group-2 {
    position: absolute;
    width: 286px;
    height: 47px;
    top: 572px;
    left: 54px;
    border-radius: 10px;
    border: 1px solid;
    border-color: #d4b46a;
    box-shadow: 0px 0px 4px #d4b46a;
}

.configuracion .overlap-5 {
    position: absolute;
    width: 66px;
    height: 31px;
    top: 8px;
    left: 199px;
}

.configuracion .rectangle-2 {
    position: absolute;
    width: 63px;
    height: 24px;
    top: 4px;
    left: 0;
    background-color: #d4b46a;
    border-radius: 10px;
}

.configuracion .ellipse {
    position: absolute;
    width: 31px;
    height: 31px;
    top: 0;
    left: 35px;
    background-color: #1e1e1e;
    border-radius: 15.5px;
}

.configuracion .text-wrapper-7 {
    position: absolute;
    top: 736px;
    left: 58px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #e0e3e6;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.configuracion .text-wrapper-8 {
    position: absolute;
    top: 736px;
    left: 270px;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #e0e3e6;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.configuracion .recurso {
    position: absolute;
    width: 38px;
    height: 37px;
    top: 29px;
    left: 69px;
    object-fit: cover;
}

.configuracion .vector {
    position: absolute;
    width: 31px;
    height: 28px;
    top: 34px;
    left: 23px;
}
